{% extends 'layout.html.twig' %}

 {% block content %}
     <main style="margin-top: 72px">
         <div class="container-banner-project">
             <h1 class="project-title">
                 {{ project.title }}
             </h1>
             <img class="banner-project-image" src="{{ project.banner_image }}">
         </div>

         <div class="container">
             <div class="row">
                 <div class="container-image-button">
                     <div class="container-image-profil">
                         <img class="project-owner-profil-image" src="{{ projectOwner.profil_picture }}">
                     </div>
                 </div>
             </div>
         </div>
         <form method="POST" class="ask-form">
             <h1> Demande de Collaboration</h1>
             <div class="form-group area-ask">
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                           placeholder="Votre message" name="ask-message"></textarea>
             </div>
             <h1>Ajoute tes compétences</h1>
             <div class="container-skills">
                 {% for skill in skills  %}
                     {% for currentUser in currentUserInfo %}
                         {% if currentUser.skill_id == skill.id %}
                             <div class="custom-control custom-checkbox">
                                 <input type="checkbox" class="custom-control-input" id="{{ skill.id }}" name="{{ skill.name }}">
                                 <label class="custom-control-label" for="{{ skill.id }}">#{{ skill.name }}</label>
                             </div>
                         {% endif %}
                     {% endfor %}
                 {% endfor %}
             </div>
             <button type="submit" class="btn btn-sign">Envoyer</button>
             <small id="" class="forget">Votre mail ainsi que votre nom complet seront communiqués au créateur du
                 projet</small>
         </form>
     </main>
 {% endblock %}
