{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-banner-project">
        <h1 class="project-title">
            {{ currentProject.title }}
        </h1>
        <img class="banner-project-image" src="{{ currentProject.banner_image }}">
    </div>
    <div class="container">
        <div class="row container-detail-project">
            <div class="container-image-button">
                <div class="container-image-profil">
                    <img class="project-owner-profil-image" src="{{ projectOwner.profil_picture }}">
                </div>
                <div class="container-button">
                    {% if isConnected.id == projectOwner.id or isCollaborator %}
                        <button class="btn btn-yellow-square" type="button"
                                onclick="window.location.href = '/project/edit/{{ currentProject.id }}';">
                            <i class="fas fa-edit"></i>
                            Modifier
                        </button>
                        <button class="btn btn-yellow-square" type="button"
                                onclick="window.location.href = '/project/manage/{{ currentProject.id }}';">
                            <i class="fas fa-cog"></i>
                            Gérer le projet
                        </button>
                    {% elseif not isCollaborator %}
                        <button class="btn btn-yellow-square" type="button"
                                onclick="window.location.href = '/project/askcollaboration/{{ currentProject.id }}';">
                            Participer
                        </button>
                    {% endif %}
                </div>
            </div>
            <div class="card col-11 project-description-card card-project">
                <h2 class="project-description-title">Description</h2>
                <div class="container-content-card">
                    <div class="card-body project-description">
                        {{ currentProject.description }}
                    </div>
                    <img class="project-description-img" src="/assets/images/project.png">
                </div>
            </div>

            <div class="card col-11 project-plan-card card-project">
                <h2 class="project-plan-title">Plan de Projet</h2>
                <div class="container-content-card">
                    <div class="card-body project-plan-description">
                        {{ currentProject.plan }}
                    </div>
                    <img class="project-description-img" src="/assets/images/architecture.png">
                </div>
            </div>

            <div class="card col-11 search-profil-description-card card-project">
                <h2 class="search-profil-title">Profils recherchés</h2>
                <div class="container-content-card">
                    <div class="card-body search-profil-description">
                        {% for skill in project.skills %}
                            <p class="skill{{ skill.id }}"> #{{ skill.name }} </p>
                        {% endfor %}
                    </div>
                    <img class="project-description-img" src="/assets/images/skills.png">
                </div>
            </div>
            <div class="card col-11 about-team-project-description-card card-project">
                <h2 class="about-team-project-title">A propos de l'équipe</h2>
                <div class="container-content-card">
                    <div class="card-body about-team-project-description">
                        {{ currentProject.team_description }}
                    </div>
                    <img class="project-description-img" src="/assets/images/group.png">
                </div>
            </div>
            {#            _______________________PROJET SIMILAIRE__________________________________ #}
            <div class="card col-11 about-team-project-description-card card-project">
                <h2 class="about-team-project-title">Projets Similaire</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for i in range(0 , (similarProjects|length - 1)) %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"
                                    {% if i == 0 %}
                                        class="active"
                                    {% endif %}
                            ></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% set a = 0 %}
                        {% for similarProject in similarProjects %}
                            {% set a = a + 1 %}
                            <div class="carousel-item carrousel-item-all {% if a == 1 %}active{% endif %}">
                                <img src="{{ similarProject.banner_image }}" class="d-block w-100"
                                     alt="{{ similarProject.title }}">
                                <div class="carousel-caption d-none-mobile d-md-block carousel-similar">
                                    <a href="/Project/show/{{ similarProject.id }}">
                                        <h5>{{ similarProject.title }}</h5>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}