<div class="row container-all-profils">
    {% if projects is empty %}
        <div class="invalid-auth">Aucun projet n'a été trouvé !</div>
    {% endif %}
    {% for project in projects %}
        <div class="card col-8 col-md-5 card-all-profil" style="">
            <a href="/Project/show/{{ project.id }}">
                <div class="project-card-banner-image">
                    <img src="{{ project.banner_image }}" class="card-img-top card-image-all-profil" alt="project-image">
                </div>
                <div class="image-profil-all-project">
                    <img class="project-owner-profil-image-all-project"
                         src="{{ project.profil_picture }}">
                </div>
                <div class="card-body body-all-project">
                    <h5 class="title all-project-title">{{ project.title }}</h5>
                </div>
            </a>
            <section class="section section-select">
                <div class="container-select container-search-project">
                    <div class="content is-medium">
                        <div class="box">
                            <div class="box-header">
                                <h3 style="font-weight: bold;">En savoir plus..</h3>
                                <div class="toggle-icon-container">
                                    <i class="fas fa-chevron-right" id="fa-project"></i>
                                </div>
                            </div>
                            <div class="box-body collapsed">
                                <div class="card card-body">
                                    {{ project.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endfor %}
</div>