{% extends 'layout.html.twig' %}

{% block title %}Side-by-Side{% endblock %}

{% block stylesheet %}
    <style>
        .btn{
            margin:0;
        }
    </style>
{% endblock %}


{% block content %}

    <main>
        {% if isSearched is not defined %}
        <div class="container-banner-project container-home">
            <h1 class="project-title app-title">
                Side by Side
            </h1>
            {% if isConnected.id is defined %}
                    <button type="button" class="btn btn-warning btn-yellow-square btn-home-create"
                            onclick="window.location.href = '/Project/new/';"
                    >Lancez Votre Projet
                        !
                    </button>
            {% else %}
                    <button type="button" class="btn btn-warning btn-yellow-square btn-home-create"
                            onclick="window.location.href = '/Auth/signIn/';"
                    >Lancez Votre Projet
                        !
                    </button>
            {% endif %}
            <img class="banner-project-image banner-image-home" src="/assets/images/startup-594090_1280.jpg">
            <a href="#search-projects" class="container-arrow">
                <div class="arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>
        {% endif %}
        {% if keyword is defined %}
            <div class="research-div">
                <h4 class="search-info">Recherche:</h4>
                <form class="form-inline" action="/Home/search/" method="GET">
                    <input class="form-control mr-sm-2" name="search" id="search" type="search"
                           placeholder="Recherche" aria-label="Search" value="{{ keyword }}">
                </form>
            </div>
            <div class="filter-home-search sticky-top anchor-search">
                <a href="#search-profils" class="aProfilName search-info btn-search-filter">#profils</a>
                <a href="#search-projects" class="aProfilName search-info btn-search-filter">#projets</a>
            </div>
        {% endif %}
        <h2 id="search-projects">Projets <a href="/project/all"><small style="color: #495057">(Tout voir)</small></a>
        </h2>
        {% if not isSearched %}
            <div class="main-container">
                <div id="carouselExampleIndicators" class="carousel slide home-project-slide" data-ride="carousel"
                     data-interval="50000">
                    <ol class="carousel-indicators">
                        {% for i in range(0 , (projects|length - 1)) %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"
                                    {% if i == 0 %}
                                        class="active"
                                    {% endif %}
                            ></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% set a = 0 %}
                        {% for project in projects %}
                            {% set a = a + 1 %}
                            <div class="carousel-item carrousel-item-all {% if a == 1 %}active{% endif %}">
                                <img src="{{ project.banner_image }}" class="d-block w-100"
                                     alt="{{ project.title }}">
                                <div class="carousel-caption d-none-mobile d-md-block project-title-home">
                                    <a href="/Project/show/{{ project.id }}">
                                        <h5>{{ project.title }}</h5>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="message-container col-11">
                {% include 'Home/_projectCard.html.twig' %}
            </div>
        {% endif %}
        <h2 id="search-profils">Profils <a href="/profil/all"><small style="color: #495057">(Tout voir)</small></a></h2>
        <div class="message-container profil-container-home col-11">
            {% if isSearched is defined %}
                {% include 'Home/_profilCards.html.twig' %}
            {% elseif not isSearched %}
                {% include 'Home/_profilsCarousel.html.twig' %}
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block javascript %}
    {% if isSearched is not defined %}
        <script src = "/assets/js/navbar_home.js"></script>
    {% endif %}
    <script src = "/assets/js/projectAdd.js"></script>
{% endblock %}
