{% extends 'layout.html.twig' %}

{% block title %}Side-by-Side{% endblock %}

{% block content %}
    <main>
        <div class="container-banner-project">
            <h1 class="project-title">
                <a href="/Project/show/{{ project.id }}">{{ project.title }}</a>
            </h1>
            <img class="banner-project-image" src="{{ project.banner_image }}">
        </div>
        <div class="container-image-button">
            <a href="/Profil/user/{{ projectOwner.id }}">
                <div class="container-image-profil">
                    <img class="project-owner-profil-image" src="{{ projectOwner.profil_picture }}">
                </div>
            </a>
            <a class="btn-modify-manage" href="/Project/edit/{{ project.id }}">
                <button class="btn btn-white-square" type="button">Modifier</button>
            </a>
        </div>
        <h1>Gestion du Projet</h1>
        <h3 class="h3-title">Demandes de collaboration</h3>
        {% if requests is defined %}
            {% include 'Manage/_requestCarousel.html.twig' %}
        {% endif %}
    </main>
{% endblock %}