{% extends 'layout.html.twig' %}

{% block title %}Inscription - SideBySide{% endblock %}

{% block header %}
    <header>
        <nav class="navbar-light navbar-expand-lg navbar-dark bg-navbar">
            <!-- Logo Navbar -->
            <a class="navbar-brand navbar-mobile" href="/Home/index">
                <img src="/assets/images/icons/logo-noir.png" width="70px" alt="">
            </a>
            <a href="/Home/index">
                <button class="btn btn-black-square btn-return-sign">Retour</button>
            </a>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="container col-md-6 ">
        <h1>Inscription</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" class="form-control form-control-sign" id="first_name"
                       placeholder="Prenom*" name="first_name" value="{{ user.first_name }}">
                {% if errors.post['first_name'] is defined %}
                    <small class="text-danger">{{ errors.post['first_name'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-sign" id="last_name"
                       placeholder="Nom*" name="last_name" value="{{ user.last_name }}">
                {% if errors.post['last_name'] is defined %}
                    <small class="text-danger">{{ errors.post['last_name'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="email" class="form-control form-control-sign" id="email"
                       placeholder="Email*" name="email" value="{{ user.email }}">
                {% if errors.post['email'] is defined %}
                    <small class="text-danger">{{ errors.post['email'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="profil_picture" class="form-control form-control-sign sign-upload_label">
                    <span id="image_label" class="form-upload-span"></span>
                    <div class="sign-upload_icon">
                        <img src="/assets/images/icons/upload2.png" style="width: 25px">
                    </div>
                </label>
                <input type="hidden" name="MAX_FILE_SIZE" value="1000000">
                <input type="file" id="profil_picture" name="profil_picture" style="display: none">
                {% if errors.upload is defined %}
                    <small class="text-danger">{{ errors.upload }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-sign" id="password"
                       placeholder="Mot de passe*" name="password" value="">
                {% if errors.post['password'] is defined %}
                    <small class="text-danger">{{ errors.post['password'] }}</small>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-sign" id="password_check"
                       placeholder="Répétez votre Mot de passe*" name="password_check" value="">
                {% if errors.post['pwd'] is defined %}
                    <small class="text-danger">{{ errors.post['pwd'] }}</small>
                {% elseif errors.post['password_check'] is defined %}
                    <div><small class="text-danger">{{ errors.post['password_check'] }}</small></div>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-sign" id="zip_code"
                       placeholder="Code Postal*" name="zip_code" value="">
                {% if errors.post['zip_code'] is defined %}
                    <small class="text-danger">{{ errors.post['zip_code'] }}</small>
                {% endif %}
            </div>
            <div class="form-group form-group-submit">
                <button type="submit" class="btn btn-warning btn-yellow-round col-4">Poster</button>
                <div class="information">
                    <small>En vous inscrivant, vous vous engagez à respecter <a href="/Home/cgu">les règles
                            d’utilisation</a> de l’application</small>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
<
script
src = "/assets/js/getImageName.js" / >
{% endblock %}