{% extends 'layout.html.twig' %}

{% block title %}Messages{% endblock %}

{% block content %}
    <div class="message-container col-11">
        <h1>Messages</h1>
        {% include 'Profil/_formMessage.html.twig' %}
        {% for message in messages %}
            {% if message.author == isConnected.id %}
                <div class="message-container-myMsg col-11 col-md-7 col-lg-5">
                    <div class="message-card">
                        <div><strong>{{ message.first_name }} {{ message.last_name }}</strong></div>
                        <p><small>{{ message.created_at }}</small></p>
                    </div>
                    <p>{{ message.message }}</p>
                </div>
            {% else %}
                <div class="message-container-users col-11 col-md-7 col-lg-5">
                    <div class="message-card">
                        <div><strong>{{ message.first_name }} {{ message.last_name }}</strong></div>
                        <p><small>{{ message.created_at }}</small></p>
                    </div>
                    <p>{{ message.message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}