{% extends 'layout.html.twig' %}

{% block title %}Profils{% endblock %}

{% block content %}
    <h1>Profils</h1>
    {% include 'Profil/_search.html.twig' %}
    <div class="row profils-page">
        {% for user in users %}
            <div class="card profil-card">
                <a href="/Profil/user/{{ user.id }}" class="aProfilName">
                    <div class="container-profil-picture">
                        <img class="project-owner-profil-image profil-image"
                             src="{{ user.profil_picture }}" alt="Photo de profile">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ user.first_name ~ ' ' ~ user.last_name }}</strong></h5>
                        <p class="card-zip-code">{{ user.zip_code }}</p>
                        <p class="card-text">
                            {% for skill in skills %}
                                {% if skill.user_id == user.id %}
                                    #{{ skill.name }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}